<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>key</key>
			<string>value</string>
		</dict>
		<dict>
			<key>key2</key>
			<string>value222222</string>
			<key>key</key>
			<string>value111111</string>
		</dict>
	</array>
</array>
</plist>
